.searchContainer{
    display: flex;
    align-items: center;
    background-color: rgba(219, 219, 219, 0.2);
    padding: 10px 0;
    border-radius: 30px;
    margin: 10px 20px;
}
.searchIcon{
    margin-left: 10px;
    color: #acacac;
    font-size: 20px;
}

.searchInput{
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
    font-size: 16px;
    color: #acacac;
    width: 100%;
}
