:root {
  --background-color: black;
  --text-color: white;
  --sidebar-width: 20%;
  --trending-width: 30%;
  --profile-width: 40%;
  --hover-color: #181717;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
